{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Book a Service{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="location">Enter a Location</label>
        <input name="location" id="location">
        <br>
        <label for="service_name">Service Name</label>
        <input name="service_name" id="service_name">
        <br>
        <label for="price">Price</label>
        <input name="price" id="price">
        <br>
        <input type="submit" value="Book">

    </form>

{% endblock %}